* { box-sizing: border-box; }
body, html {
	height: 100%;
	width:100%;

}
h1,h2 { 
	font-family: bebas, sans-serif; 
	text-shadow: 0px 0px 5px rgba(0,0,0,.6);
}
p {
	font-family: montserrat, sans-serif;
}
.container{
	background-color:red;
	margin:0;padding:0;
	height:100%;width:100%;
	min-width:400px;
}
nav{
	position: fixed;
	top:0;
	z-index:100;
	height:150px;
	width:100%;
	transition: background-color 300ms;
}
.navbg{
	height:100px;
	background-color: rgba(0,0,0,.6);
	transition: background-color 1s;
}
.logo{
	margin:20px;
	float:left;
	display: block;
	height:140px;
	width:70px;
	background: url('../img/logo.png') center center;
	background-size: cover;
	@include breakpoint(medium){
		height:60px;
		width:30px;
	}
}
.logo-bp{
	height:60px;
	width:30px;
}
ul.logo-type{
	font-family:bebas;
	width:100px;
	float:left;
	line-height:32px;
	margin-left:0;
	margin-top:30px;
	padding-left:0;

	@include breakpoint(medium){
		width:300px;
	}
	@media (max-width:400px){
		display:none;
	}
	li{
		margin:0;padding:0;
		list-style-type:none;
		font-weight:normal;
		font-size:40px;
		color:#fff;
		text-shadow: 0px 0px 5px rgba(0,0,0,.5);
		@include breakpoint(medium){
			font-size: 26px;
			float: left;
			padding-right: 5px;
			padding-top: 5px;
		}
	}
	
}
ul.nav-list { 
	margin:0; padding:0;
	font-family: bebas;
	font-size:24px;
	float:right;
	padding-right: 35px;
	margin-top:38px;
	@include breakpoint(medium){
		width:200px;
		line-height:20px;
		font-size: 20px;
	}
	li{
	color:#fff;
	list-style-type:none;
	display:inline-block;
	padding-top:0;
	margin-top:0;
	padding-left: 20px;
	text-shadow: 0px 0px 5px rgba(0,0,0,.5);
	}
}
.nav-list-bp{
	width:200px;
	line-height:20px;
}
/* CONTENT */
.cover {
	position: relative;
	display:block;
	width:100%;
	height:100%;
	min-height:600px;
	@include breakpoint(medium){
		font-size:16px;
	}
}
.about {
	.content-wrap{
		height: 490px;
	}
	position: relative;
	display:block;
	width:100%;
	height:70%;
	@include breakpoint(large){
	height: 100%;
	}

}
.splash {
	background: #ddd url('../img/splash.jpg') center;
	background-size: cover;
	button {
		display: block;
		color:#fff;
		position: absolute;
		margin: auto;
		width:150px;
		height:50px;
		bottom:10%;;
		left:0;
		right:0;
		border:none;
		background-color: $orange;
		border-top: solid 5px darken($orange, 10%);
		&:hover{
			background-color:darken($orange, 10%);
			border-color: darken($orange,18%);
		}
	}
	.megatext{
		font-size:50px;
		color:#fff;
		width:100%;
		text-align:center;
		line-height:60px;
		display: block;
		position: absolute;
		bottom:20%;
		span {
			font-size: 83px;
		}
		@include breakpoint(medium){
			font-size:31px;
			line-height:35px;
			span {
				font-size: 52px;
			}
		}
	}
}

.content-wrap{
	float:left;
	margin:0; padding:0;
	position: absolute;
	top:0; right:0; left:0; bottom:0;
	margin: auto;
	width:80%;
	max-width:1200px;
	height: 400px;
	@include breakpoint(medium){
		width: 100%;
	}
	h1 {
		font-size:50px;
		text-align: center;
		text-shadow:none;
		padding: 60px;
	}
	p {
		font-size:1.5em;
		@include breakpoint(medium){
			font-size:1em;
		}
	}
}

.performance {
	height: 50%;
	background: #ddd url('../img/performance.jpg') center bottom;
	background-size:cover;
}

.learn-more{
	height: 70%;
	background-color:$green;
	h1{color:#fff;}
	p{
		color:#fff;
		line-height:400px;
		display: inline-block;
		height:200px;
		&.music-icon{
			background: url('../img/music.png') no-repeat center center;
		}
		&.tree-icon{
			background: url('../img/tree.png') no-repeat center center;
		}
		&.art-icon{
			background: url('../img/art.png') no-repeat center center;
		}
		&:hover{
			opacity: .5;
			cursor: pointer;
		}
	}
	& .learn-more-content{
		height: 500px;
		text-align:center;
	}
}

.picnic {
	height: 70%;
	color:#fff;
	background-color: $orange;
	.content-wrap{
		height: 500px;
	}
}
footer {
	overflow:hidden;
	position: relative;
	color:#fff;
	margin:0;padding:0;
	background-color:darken($green, 30%);
	width:100%;
	height:300px;
	& .content-wrap{
		height:300px;
		h1{
			padding-left:20px;
			text-align:left;
			margin-bottom:0;
			padding-bottom:0;
		}
		p{

			margin-left:0px;
		}
	}
	ul{
		list-style-type:none;
		padding:0;
		margin:0;
		li {
			margin:0;
			padding:0;
		}
	}
}