* { 
box-sizing: border-box;
-moz-box-sizing: border-box;
-moz-box-sizing: border-box;
 }
body, html {
	height: 100%;
	width:100%;
	border-top: solid 2px $orange;
}
h1,h2 { 
	font-family: bebas, sans-serif; 
	text-shadow: 0px 0px 5px rgba(0,0,0,.6);
}
p {
	font-family: Vollkorn, serif;
}
a{
	color:#fff;
	text-decoration:none;
	&:hover {
		color:#ddd;
	}
}
.container{
	background-color:red;
	margin:0;padding:0;
	height:100%;width:100%;
	min-width:100px;
}
nav{
	position: fixed;
	top:0;
	z-index:100;
	height:150px;
	width:100%;
	transition: background-color 300ms;
}
.navbg{
	height:100px;
	background-color: rgba(0,0,0,.6);
	transition: all 600ms;

}
.navopen{
	height:300px;
	transition: all 600ms;
}
.logo{
	margin:20px;
	float:left;
	display: block;
	height:140px;
	width:70px;
	background: url('../img/logo.png') center center;
	background-size: cover;
	@include breakpoint(medium){
		height:60px;
		width:30px;
	}
}
.logo-bp{
	height:60px;
	width:30px;
}
ul.logo-type{
	font-family:bebas;
	width:100px;
	float:left;
	line-height:32px;
	margin-left:0;
	margin-top:30px;
	padding-left:0;

	@include breakpoint(medium){
		width:300px;
	}
	@media (max-width:400px){
		display:none;
	}
	li{
		margin:0;padding:0;
		list-style-type:none;
		font-weight:normal;
		font-size:40px;
		color:#fff;
		text-shadow: 0px 0px 5px rgba(0,0,0,.5);
		@include breakpoint(medium){
			font-size: 26px;
			float: left;
			padding-right: 5px;
			padding-top: 5px;
		}
	}
	
}
ul.nav-list { 
	margin:0; padding:0;
	font-family: bebas;
	font-size:24px;
	float:right;
	padding-right: 35px;
	margin-top:38px;
	@include breakpoint(medium){
		display:none;
		position: absolute;
		left:0; right:0;
		margin: 0 auto;
		text-align:center;
		width:200px;
		line-height:30px;
		font-size: 30px;
		
	}
	li{
	color:#fff;
	list-style-type:none;
	display:inline-block;
	padding-top:0;
	margin-top:0;
	padding-left: 20px;
	text-shadow: 0px 0px 5px rgba(0,0,0,.5);
	}
}

/* CONTENT */
.cover {
	position: relative;
	display:block;
	width:100%;
	height:100%;
	min-height:600px;
	p {
		font-family: 'Vollkorn', serif;
	}
	@include breakpoint(medium){
		font-size:16px;
	}
}

.splash {
	background: #ddd url('../img/splash.jpg') center;
	background-size: cover;
	button {
		display: block;
		color:#fff;
		position: absolute;
		margin: auto;
		width:150px;
		height:50px;
		bottom:10%;;
		left:0;
		right:0;
		border:none;
		background-color: $orange;
		border-top: solid 5px darken($orange, 10%);
		&:hover{
			background-color:darken($orange, 10%);
			border-color: darken($orange,18%);
		}
	}
	.megatext{
		font-size:50px;
		color:#fff;
		width:100%;
		text-align:center;
		line-height:60px;
		display: block;
		position: absolute;
		bottom:20%;
		span {
			font-size: 83px;
		}
		@include breakpoint(medium){
			font-size:31px;
			line-height:35px;
			span {
				font-size: 52px;
			}
		}
	}
}

.content-wrap{
	float:left;
	margin:0; padding:0;
	position: absolute;
	top:0; right:0; left:0; bottom:0;
	margin: auto;
	width:80%;
	max-width:1200px;
	height: 500px;
	@include breakpoint(medium){
		width: 100%;
	}
	h1 {
		display: block;
		text-align:left;
		font-size:50px;
		text-shadow:none;
		padding: 20px;
		width: 100%;
		border-bottom: solid 2px #000;
		margin: auto;
		margin-left:20px;
		margin-right:20px;
		margin-bottom: 10px;
		padding-left:0;
		@include breakpoint(medium){
			width:90%;
		}
	}
	p {
		font-size:1.5em;
		@include breakpoint(medium){
			font-size:1em;
		}
	}
}

.about {
	.content-wrap{
		height: 300px;
	}
	position: relative;
	display:block;
	width:100%;
	height:70%;
	@include breakpoint(large){
	height: 100%;
	}

}
.performance {
	height: 50%;
	background: #ddd url('../img/performance.jpg') center bottom;
	background-size:cover;
}

.learn-more{
	height: 70%;
	background-color:$green;
	h1{
		color:#fff;
		border-color: #fff;
	}
	p, h1 { color:#fff; min-width:300px;}
	.content-wrap{
		height: 300px;
		@include breakpoint(medium){
			height: 350px; 
		}
		@include breakpoint(small){
			height: 450px; 
		}
	}
}

.picnic {
	height: 70%;
	color:#fff;
	background-color: $orange;
	p, h1 { min-width:300px;}
	.content-wrap{
		height: 300px;
		h1 {
			border-color: #fff;
		}
		@include breakpoint(medium){
			height: 350px; 
		}
		@include breakpoint(small){
			height: 550px; 
		}
	}
}
footer {
	overflow:hidden;
	position: relative;
	color:#fff;
	margin:0;padding:0;
	background-color:lighten(black, 10%);
	width:100%;
	height:300px;
	& .content-wrap{
		height:220px;
		h1{
			font-size:30px;
			padding-left:20px;
			text-align:left;
			margin-bottom:0;
			padding-bottom:0;
			border:none;
			padding-left:0;
		}
		p{	
			font-family: bebas;
			font-size:18px;
			margin-left:0px;
			line-height:20px;
		}

	}
	ul{

		list-style-type:none;
		padding:0;
		margin:0;
		li {
			font-family: bebas;
			margin:0;
			padding:0;
		}
	}
}

span.navicon{
	position: absolute;
	right:0;top:0;
	display: inline-block;
	display: none;
	color:#fff;
	float:right;
	font-size: 40px;
	padding:30px;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	cursor:pointer;
}
i{
	font-size:40px;
}